body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  display: flex;
}

.card {
  background-color: hsl(213, 19%, 18%);
  border-radius: 25px;
}

p {
  color: hsl(216, 12%, 54%);
  margin-right: 11px;
  line-height: 2;
  margin-bottom: 0;
}

.rating {
  color: hsl(217, 12%, 63%);
}

.btn {
  justify-content: center;
  border-radius: 25px;
  letter-spacing: 3px;
  color: hsl(216, 12%, 54%);
  background-color: hsl(213, 19%, 18%);
}

.btngroup {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

@media only screen and (max-width:1100px) {
  .container {
    width: auto;
  }
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.jshover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(25, 97%, 53%);
}

/*thankYou slide*/
.thankYou {
  display: none;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 65%;
}

.h5, h5 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.thankYouSvg {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width:1100px) {
  .thankYou {
    width: auto;
  }
}
